Repository carbon-design-system/carbon-platform, pull requests merged in 2022-04, with the labels that each got.

#460 web-app: add no-use-before-define rule, fix env-vars file
  .eslintrc.js
Labels: status: ready for review 👀

#492 wip: cleanup for #495
  services/web-app/components/dashboard/dashboard-item.module.scss
  services/web-app/components/feature-card/feature-card.js
  services/web-app/components/feature-card/feature-card.module.scss
  services/web-app/components/hero/hero.js
  services/web-app/components/hero/hero.module.scss
  services/web-app/pages/assets/index.js
  services/web-app/pages/assets/index/images/assets-hero.svg
  services/web-app/pages/assets/index/images/assets-hero_mobile.svg
  services/web-app/pages/assets/index/images/assets-hero_repeat.svg
  services/web-app/pages/assets/index/images/chart-banner.png
  services/web-app/pages/assets/index/images/hero-illo.png
  services/web-app/pages/assets/index/images/hero-repeat.png
  services/web-app/pages/assets/index/images/hero.png
  services/web-app/pages/assets/index/images/react-banner.png
  services/web-app/pages/assets/index/index.module.scss
Labels: status: WIP 👩‍💻

#474 fix: add border to side nav
  services/web-app/layouts/layout/layout.js
  services/web-app/layouts/layout/layout.module.scss
Labels: status: ready to merge 🎉

#481 feat: placeholder mdx components
  services/web-app/components/mdx/components.js
Labels: status: one more review 👀

#467 feat(web-app): add express proxy server to log request
  docs/services-web-app.md
  package-lock.json
  packages/api/src/main/auth/constants.ts
  packages/api/src/main/auth/passport.ts
  services/web-app/Dockerfile
  services/web-app/config/constants.js
  services/web-app/esbuild.js
  services/web-app/package.json
  services/web-app/pages/_middleware.js
  services/web-app/pages/api/log-request.js
  services/web-app/proxy-server.js
  services/web-app/secure-dev-server.js
  services/web-app/utils/sendLocalRequest.js
Labels: status: one more review 👀

#475 feat: asset detail enhancements & add feature card component
  packages/icons/src/main/svg/48-components.svg
  packages/icons/src/main/svg/48-functions.svg
  packages/icons/src/main/svg/48-patterns.svg
  packages/icons/src/main/svg/48-templates.svg
  packages/icons/src/main/svg/64-components.svg
  packages/icons/src/main/svg/64-functions.svg
  packages/icons/src/main/svg/64-patterns.svg
  packages/icons/src/main/svg/64-templates.svg
  services/web-app/components/dashboard/dashboard-item.module.scss
  services/web-app/components/dashboard/dashboard.module.scss
  services/web-app/components/feature-card/feature-card.js
  services/web-app/components/feature-card/feature-card.module.scss
  services/web-app/components/feature-card/index.js
  services/web-app/components/hero/hero.js
  services/web-app/components/hero/hero.module.scss
  services/web-app/pages/assets/index.js
  services/web-app/pages/assets/index/images/assets-hero.png
  services/web-app/pages/assets/index/images/assets-hero_mobile.png
  services/web-app/pages/assets/index/images/carbon-next-v0.1.png
  services/web-app/pages/assets/index/images/carbon-next-v0.2.png
  services/web-app/pages/assets/index/images/carbon-next-v1.0.png
  services/web-app/pages/assets/index/images/carbon-next-v1.1.png
  services/web-app/pages/assets/index/images/carbon-next-v2.0.png
  services/web-app/pages/assets/index/images/chart-banner.png
  services/web-app/pages/assets/index/images/hero-illo.png
  services/web-app/pages/assets/index/images/react-banner.png
  services/web-app/pages/assets/index/images/roadmap-v0.1.png
  services/web-app/pages/assets/index/images/roadmap-v0.2.png
  services/web-app/pages/assets/index/images/roadmap-v1.0.png
  services/web-app/pages/assets/index/images/roadmap-v1.1.png
  services/web-app/pages/assets/index/images/roadmap-v2.0.png
  services/web-app/pages/assets/index/index.module.scss
Labels: status: ready to merge 🎉

#503 flucca/feat/index carbon styles
  services/web-app/data/libraries.js
  services/web-app/public/assets/thumbnails/aspect-ratio.svg
  services/web-app/public/assets/thumbnails/combo-box.svg
  services/web-app/public/assets/thumbnails/copy-button.svg
  services/web-app/public/assets/thumbnails/pagination-nav.svg
  services/web-app/public/assets/thumbnails/progress-bar.svg
  services/web-app/public/assets/thumbnails/text-area.svg
  services/web-app/public/assets/thumbnails/theme.svg
  services/web-app/public/assets/thumbnails/time-picker.svg
  services/web-app/public/assets/thumbnails/tooltip-definition.svg
  services/web-app/public/assets/thumbnails/tree-view.svg
  services/web-app/public/assets/thumbnails/ui-shell-header.svg
  services/web-app/public/assets/thumbnails/ui-shell-left-panel.svg
  services/web-app/public/assets/thumbnails/ui-shell-right-panel.svg
Labels: status: ready to merge 🎉

#546 feat(web-app): #499 next/image support for mdx
  services/web-app/components/markdown/image.js
  services/web-app/components/markdown/image.module.scss
  services/web-app/components/markdown/index.js
  services/web-app/components/mdx/components.js
Labels: status: ready for review 👀

#548 feat: add mdx components
  services/web-app/components/accordion/accordion-item.js
  services/web-app/components/accordion/accordion.js
  services/web-app/components/accordion/accordion.module.scss
  services/web-app/components/accordion/index.js
  services/web-app/components/anchor-links/anchor-link.js
  services/web-app/components/anchor-links/anchor-links.js
  services/web-app/components/anchor-links/anchor-links.module.scss
  services/web-app/components/anchor-links/index.js
  services/web-app/components/caption/caption.js
  services/web-app/components/caption/caption.module.scss
  services/web-app/components/caption/index.js
  services/web-app/components/inline-notification/index.js
  services/web-app/components/inline-notification/inline-notification.js
  services/web-app/components/inline-notification/inline-notification.module.scss
  services/web-app/components/mdx/components.js
  services/web-app/components/page-description/index.js
  services/web-app/components/page-description/page-description.js
  services/web-app/components/page-description/page-description.module.scss
  services/web-app/components/title/index.js
  services/web-app/components/title/title.js
  services/web-app/components/title/title.module.scss
  services/web-app/pages/mdx/accordion.mdx
  services/web-app/pages/mdx/anchor-links.mdx
  services/web-app/pages/mdx/caption.mdx
  services/web-app/pages/mdx/inline-notification.mdx
  services/web-app/pages/mdx/page-description.mdx
  services/web-app/pages/mdx/title.mdx
Labels: status: one more review 👀

#424 feat: in page sticky nav
  services/web-app/components/hero/hero.module.scss
  services/web-app/components/page-breadcrumb/page-breadcrumb.js
  services/web-app/components/page-header/page-header.module.scss
  services/web-app/components/page-nav/index.js
  services/web-app/components/page-nav/page-nav.js
  services/web-app/components/page-nav/page-nav.module.scss
  services/web-app/components/page-not-found/page-not-found.module.scss
  services/web-app/pages/assets/[host]/[org]/[repo]/[library]/[ref]/[asset].js
  services/web-app/pages/assets/[host]/[org]/[repo]/[library]/[ref]/[asset].module.scss
  services/web-app/pages/assets/[host]/[org]/[repo]/[library]/[ref]/index.js
  services/web-app/pages/assets/[host]/[org]/[repo]/[library]/[ref]/index.module.scss
  services/web-app/pages/pages.module.scss
  services/web-app/styles/_base.scss
Labels: status: one more review 👀

#464 feat: treeview library navigation
  services/web-app/components/nav-library/index.js
  services/web-app/components/nav-library/nav-library.js
  services/web-app/components/nav-library/nav-library.module.scss
  services/web-app/components/nav-main/index.js
  services/web-app/components/nav-main/nav-main.js
  services/web-app/components/nav-main/nav-main.module.scss
  services/web-app/components/nav-tree/index.js
  services/web-app/components/nav-tree/nav-tree.js
  services/web-app/components/nav-tree/nav-tree.module.scss
  services/web-app/data/nav-data.js
  services/web-app/layouts/layout/layout.js
  services/web-app/layouts/layout/layout.module.scss
  services/web-app/pages/assets/[host]/[org]/[repo]/[library]/[ref]/index.js
  services/web-app/public/data/diskstore-7aafb6a0e1f2636030724f6ef39eb9d8.json
  services/web-app/public/data/diskstore-85fb9cc60d29c16cc69414ce347f9807.json
  services/web-app/public/data/diskstore-8e8d2f4e72b62700495cdb1473c24a3c.json
  services/web-app/public/data/diskstore-b100b8c9ff3e700ad44dddd81b151750.json
Labels: status: one more review 👀

#563 feat: add do-dont mdx component
  services/web-app/components/do-dont/do-dont-row.js
  services/web-app/components/do-dont/do-dont.js
  services/web-app/components/do-dont/do-dont.module.scss
  services/web-app/components/do-dont/index.js
  services/web-app/components/mdx/components.js
  services/web-app/pages/mdx/do-dont.mdx
  services/web-app/public/data/diskstore-7aafb6a0e1f2636030724f6ef39eb9d8.json
  services/web-app/public/data/diskstore-85fb9cc60d29c16cc69414ce347f9807.json
  services/web-app/public/data/diskstore-8e8d2f4e72b62700495cdb1473c24a3c.json
  services/web-app/public/data/diskstore-b100b8c9ff3e700ad44dddd81b151750.json
  services/web-app/public/mdx/light-theme.jpg
Labels: status: one more review 👀

#575 feat(web-app): migrate gifplayer from gatsby-theme for mdx usage
  package-lock.json
  services/web-app/components/gif-player/gif-player.js
  services/web-app/components/gif-player/gif-player.module.scss
  services/web-app/components/gif-player/index.js
  services/web-app/components/mdx/components.js
  services/web-app/next.config.mjs
  services/web-app/package.json
  services/web-app/pages/mdx/gif-player.mdx
  services/web-app/public/IBM_Cloud_Pictograms.gif
  services/web-app/public/IBM_Cloud_Pictograms.jpeg
Labels: status: ready for review 👀

#564 feat: add disabled main nav items
  services/web-app/components/nav-main/nav-main.js
  services/web-app/components/nav-main/nav-main.module.scss
  services/web-app/data/nav-data.js
  services/web-app/layouts/layout/layout.js
  services/web-app/layouts/layout/layout.module.scss
Labels: status: one more review 👀

#580 feat(web-app): migrate art-direction component for mdx
  package-lock.json
  services/web-app/components/art-direction/art-direction.js
  services/web-app/components/art-direction/index.js
  services/web-app/components/mdx/components.js
  services/web-app/pages/mdx/art-direction.mdx
  services/web-app/public/mdx/desktop.jpg
  services/web-app/public/mdx/mobile.jpg
  services/web-app/public/mdx/tablet.jpg
Labels: status: one more review 👀

#509 Flucca/feat/library assets
  packages/icons/src/main/svg/filing-cabinet.svg
  services/web-app/components/catalog-item/catalog-item-meta/catalog-item-meta.js
  services/web-app/components/catalog-item/catalog-item-meta/catalog-item-meta.module.scss
  services/web-app/components/catalog-item/catalog-item-meta/index.js
  services/web-app/components/catalog-item/catalog-item.js
  services/web-app/components/catalog-item/catalog-item.module.scss
  services/web-app/data/nav-data.js
  services/web-app/data/type.js
  services/web-app/next.config.mjs
  services/web-app/pages/assets/[host]/[org]/[repo]/[library]/[ref]/library-assets/index.js
  services/web-app/pages/assets/[host]/[org]/[repo]/[library]/[ref]/library-assets/index.module.scss
Labels: status: one more review 👀

#553 feat(web-app): add github flavored markdown support for mdx
  package-lock.json
  services/web-app/next.config.mjs
  services/web-app/package.json
Labels: status: one more review 👀

#586 fix(web-app): center thumbnails in catalog
  services/web-app/components/catalog-item/catalog-item.module.scss
Labels: status: one more review 👀

#590 feat(web-app): migrate profile mdx component from carbon website
  services/web-app/components/mdx/components.js
  services/web-app/components/profile/index.js
  services/web-app/components/profile/profile.js
  services/web-app/components/profile/profile.module.scss
  services/web-app/pages/mdx/profile.mdx
  services/web-app/public/mdx/rosno_matt.png
Labels: status: one more review 👀

#579 feat(web-app): migrate article card component for mdx
  services/web-app/components/article-card/article-card.js
  services/web-app/components/article-card/article-card.module.scss
  services/web-app/components/article-card/index.js
  services/web-app/components/grid-transform/grid.module.scss
  services/web-app/components/mdx/components.js
  services/web-app/pages/mdx/article-card.mdx
  services/web-app/public/mdx/Article_06.png
Labels: status: ready for review 👀

#588 feat(web-app): add frontmatter wrapper for mdx support
  package-lock.json
  services/web-app/components/mdx-wrapper/index.js
  services/web-app/components/mdx-wrapper/mdx-wrapper.js
  services/web-app/components/mdx/components.js
  services/web-app/next.config.mjs
  services/web-app/package.json
  services/web-app/pages/mdx/frontmatter-1.mdx
  services/web-app/pages/mdx/frontmatter-2.mdx
  services/web-app/utils/mdx-wrapper-plugin.js
Labels: status: one more review 👀

#583 feat(web-app): migrate gatsby-theme video component for mdx usage
  package-lock.json
  services/web-app/components/mdx/components.js
  services/web-app/components/video/index.js
  services/web-app/components/video/video.js
  services/web-app/components/video/video.module.scss
  services/web-app/next.config.mjs
  services/web-app/package.json
  services/web-app/pages/mdx/video/local-poster.jpeg
  services/web-app/pages/mdx/video/local-video.mp4
  services/web-app/pages/mdx/video/video.mdx
  services/web-app/public/videos/hero-video.mp4
  services/web-app/public/videos/hero-video.vtt
  services/web-app/public/videos/poster.png
Labels: status: one more review 👀, status: ready for review 👀

#573 feat(web-app): migrate tabs component from gatsby-theme for mdx usage
  services/web-app/components/mdx/components.js
  services/web-app/components/tabs/index.js
  services/web-app/components/tabs/tabs.js
  services/web-app/components/tabs/tabs.module.scss
  services/web-app/pages/mdx/tabs.mdx
  services/web-app/styles/_base.scss
  services/web-app/utils/use-id.js
Labels: status: one more review 👀, status: ready for review 👀

#592 feat: add aside mdx component
  services/web-app/components/aside/aside.js
  services/web-app/components/aside/aside.module.scss
  services/web-app/components/aside/index.js
  services/web-app/components/mdx/components.js
  services/web-app/pages/mdx/aside.mdx
Labels: status: ready to merge 🎉

#591 feat(web-app): add mdx color palette component
  services/web-app/components/color-palette/color-palette-color.js
  services/web-app/components/color-palette/color-palette.js
  services/web-app/components/color-palette/color-palette.module.scss
  services/web-app/components/color-palette/index.js
  services/web-app/components/color-palette/palettes-container.js
  services/web-app/components/mdx/components.js
  services/web-app/data/colors.js
  services/web-app/data/data-visualization/palettes.js
  services/web-app/data/status-indicators/palettes.js
  services/web-app/pages/mdx/color-palette.mdx
Labels: status: one more review 👀

#582 feat: index carbon components - v10
  services/web-app/data/libraries.js
  services/web-app/public/assets/thumbnails/list-box.svg
  services/web-app/public/assets/thumbnails/type.svg
Labels: status: ready for review 👀

#608 feat: carbon vanilla components bug - test
  services/web-app/public/assets/thumbnails/toolbar.svg
  services/web-app/public/data/diskstore-05e62dc1cbb7fb35a8bc8e58a4ea1d92.json
  services/web-app/public/data/diskstore-078b125afe63c172984b06993c313ab8.json
  services/web-app/public/data/diskstore-0d64a695f8cd20dbee3136f2834fdbfc.json
  services/web-app/public/data/diskstore-12db6765036fb96288c374b3720edf63.json
  services/web-app/public/data/diskstore-1622b5cc4e99f17bf60661fde8f42779.json
  services/web-app/public/data/diskstore-1fb071bfb279ffd97b1858ec9b61359e.json
  services/web-app/public/data/diskstore-20d8e3001419777dc61da32816ea8a95.json
  services/web-app/public/data/diskstore-2586c2bc83eda566c1942fc69d711911.json
  services/web-app/public/data/diskstore-2722ba151bc7bf87f50c201f839446fb.json
  services/web-app/public/data/diskstore-2bf5616b11f48f2c96cb10e85a440094.json
  services/web-app/public/data/diskstore-32f726585c0b30b3cd5470eac0a36258.json
  services/web-app/public/data/diskstore-33cd1c186573fd9eb8500efab04f5f10.json
  services/web-app/public/data/diskstore-365d8d43b04c695fece7481dc7a791c9.json
  services/web-app/public/data/diskstore-3f236852d7ca89c62932512099000ac8.json
  services/web-app/public/data/diskstore-3fc607cfdbc2244364309f073356c5e9.json
  services/web-app/public/data/diskstore-469d4c57fd2e2203b25fafe63372b248.json
  services/web-app/public/data/diskstore-4d60322f6213d852636258d04ed14592.json
  services/web-app/public/data/diskstore-545a64661f026c7e3c27e99ee7aeb383.json
  services/web-app/public/data/diskstore-5595d0064b46bc69310ebc8bf88d40f3.json
  services/web-app/public/data/diskstore-5cfe6dd31643c33aa203db612951e7f8.json
  services/web-app/public/data/diskstore-5db4414bf54127114ccf5260424c77a3.json
  services/web-app/public/data/diskstore-76dc7cb8fc66aba9f86df2dd48d6d0a3.json
  services/web-app/public/data/diskstore-78aaa6b7c25f59ad0f7cb795968aec76.json
  services/web-app/public/data/diskstore-8750b83cf2fd8f0059729b1932cdbb41.json
  services/web-app/public/data/diskstore-9669fe5e018ba57754515be71f2841a3.json
  services/web-app/public/data/diskstore-9c10ecbe84f601c7ee094db3c8cc324e.json
  services/web-app/public/data/diskstore-b23c12e73768f5714e4e3f3009aae937.json
  services/web-app/public/data/diskstore-b3c47c08f10a4c487b0923312ddcad95.json
  services/web-app/public/data/diskstore-b42e6fcca389f2a5fb58fed5ebfa2e60.json
  services/web-app/public/data/diskstore-ba63ecd1c9c7d38fdf82524bf867bd0a.json
  services/web-app/public/data/diskstore-be8833d09fded83f3a901a2ff90a401d.json
  services/web-app/public/data/diskstore-c104702741fd7f9b120d9c2468910dd9.json
  services/web-app/public/data/diskstore-c60d531f19c9be1b7f72ca5f367d787c.json
  services/web-app/public/data/diskstore-d0966812d8b88d27561e0abaeff46c58.json
  services/web-app/public/data/diskstore-d42ae8f80e9ebff7abb57c6f3f47ae6a.json
  services/web-app/public/data/diskstore-f01dda7c42be77d2435ff30cc260e97d.json
Labels: status: one more review 👀

#658 fix: storybook layout for next pages
  services/web-app/.storybook/layout.js
  services/web-app/.storybook/preview.js
  services/web-app/stories/mdx/accordion.stories.js
  services/web-app/stories/mdx/anchor-links.stories.js
  services/web-app/stories/pages/404.stories.js
  services/web-app/stories/pages/assets.stories.js
Labels: status: one more review 👀

#619 fix(web-app): cleanup console errors
  services/web-app/components/catalog-multislect-filter/catalog-multiselect-filter.js
  services/web-app/components/feature-card/feature-card.js
  services/web-app/components/nav-main/nav-main.js
  services/web-app/components/video/video.js
  services/web-app/layouts/layout/layout.js
  services/web-app/pages/assets/index.js
Labels: status: ready for review 👀

#603 feat(web-app): add nested props to lists that are desendants of li
  services/web-app/components/markdown/li.js
  services/web-app/components/markdown/markdown.module.scss
  services/web-app/components/markdown/ol.js
  services/web-app/components/markdown/ul.js
  services/web-app/components/mdx/components.js
  services/web-app/pages/mdx/nested-lists.mdx
Labels: status: one more review 👀

#621 feat(web-app): add basic code mdx support
  services/web-app/components/code/code.js
  services/web-app/components/code/code.module.scss
  services/web-app/components/code/index.js
  services/web-app/components/mdx/components.js
  services/web-app/pages/mdx/code.mdx
  services/web-app/pages/mdx/index.mdx
  services/web-app/public/data/diskstore-75506a3de2cfa615f080f6725ffe61d5.json
Labels: status: one more review 👀, status: ready for review 👀
