Repository carbon-design-system/carbon-platform, pull requests merged in 2022-11, with the labels that each got.

#1456 fix(web-app): broken logic in typesets component
  services/web-app/components/typeset-style/typeset-example.js
  services/web-app/components/typeset-style/typeset-style.js
Labels: status: one more review 👀

#1477 fix(web-app): nav position onclick
  services/web-app/components/banner/banner.module.scss
Labels: status: one more review 👀

#1508 fix(web-app): add do type to do-dont story
  packages/mdx-components/src/main/do-dont/do-dont.stories.jsx
Labels: status: ready for review 👀

#1510 fix(mdx-components): add withPrefix util to preview class
  packages/mdx-components/src/main/preview/_preview.scss
Labels: status: one more review 👀, status: ready for review 👀

#1514 fix(mdx-components): add bottom margin to article card
  packages/mdx-components/src/main/article-card/_article-card.scss
Labels: status: ready to merge 🎉
